@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap");

:root {
  --bg-color-dark: #10101c;
  --bg-color-light: #faf3eb;
  --primary-color: #00956b;
  --danger-color: #fc0120;
  --success-color: #00ce42;
  --font-light: #10101c;
  --font-dark: #faf3eb;
  --navbar-1: #1d1d2c;
  --navbar-2: #111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size: 1rem;
  color: var(--font-dark);
  overflow-x: hidden;
  background-color: var(--bg-color-dark);
}

::selection {
  background-color: var(--primary-color);
  color: var(--font-dark);
}

h1,
h2,
h3 {
  font-weight: lighter;
  font-family: "Staatliches", cursive;
}

.main-heading {
  font-size: 26px;
  /* color: ; */
}

.main-heading-2 {
  font-size: 22px;
  /* color: ; */
}
.main-heading-3 {
  font-size: 20px;
  /* color: ; */
}

.container {
  margin: auto;
  padding: 0 10px;
  max-width: 1200px;
}

input {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--font-light);
  transition: all ease-in 0.2s;
}

.nav-auth a:hover {
  color: var(--primary-color);
  border-bottom: 2px var(--primary-color) solid;
}

.btn {
  /* height: 50px; */
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 10px;
  font-family: "Staatliches", cursive;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.btn:hover {
  box-shadow: 5px 5px 30px #00956b6b, -5px -5px 30px #00956b6b;
}

.btn:focus {
  outline: none;
}

.btn-block {
  width: 100%;
  color: var(--font-dark);
  background-color: var(--primary-color);
}
