.navigation {
  margin: 1;
  height: 150px;
}

.navbar {
  background-color: #1d1d2c;
  height: 50%;
  width: 100vw;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-auth {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1d1d2c;
}

.nav-auth a {
  font-weight: 700;
  color: white;
}

.nav-logo {
  height: 100%;
  width: 200px;
  display: grid;
  place-items: center;
}

.nav-logo img {
  width: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.tabs {
  background-color: black;
  position: relative;
  width: 100vw;
  height: 30%;
}

.nav-tabs {
  height: 100%;
  width: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
.nav-tabs a {
  color: white;
}

.player-form {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form */

.add-form {
  width: 400px;
  margin: auto;
  height: 550px;
  padding: 40px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  background-color: #faf3eb;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: 'Staatliches', cursive;
  /* font-size: 1.2re; */
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}

.form-control input[type='radio'] {
  width: 5%;
}

.status-radio {
  width: 100%;
  display: flex;
  align-items: center;
}

.status-radio label {
  margin-left: 5px;
}

.playergrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  width: 100%;
}

.card {
  height: 400px;
  width: 400px;
  background-color: #00956b;
  position: relative;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  margin: auto;
}
.player-info {
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
}

.player-number {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  overflow: hidden;
  font-family: 'Staatliches', cursive;
}

.player-n {
  position: absolute;
  font-size: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  color: #047757;
  overflow: hidden;
  user-select: none;
}

.status {
  height: 50px;
  width: 120px;
  border-radius: 2.5px;
  font-family: 'Staatliches', cursive;
  font-size: 1.3rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.171);
}
.status p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.success {
  background-color: #00ce42;
}
.rest {
  background-color: red;
}

.sub {
  background-color: #e46904;
}

.card-edit {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: whitesmoke;
  font-weight: 700;
}

.card-delete {
  height: 40px;
  width: 40px;
  background-color: black;
  z-index: 5;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  color: white;
  font-weight: 700;
}
